{% extends "base.html" %}

{% block title %}{{ config.title }}{% if paginate_by and current_page > 1 %} | Page {{ current_page }}{% endif %}{% endblock %}

{% block content %}
<div class="body">
    <div class="content-wrapper">
        <div class="content">
            <h1 class="mainpage-title">Blog</h1>
            {% for post in paginator.pages %}
            <article class="blog-post">
                <header class="blog-post-header">
                    <h2 class="blog-post-title"><a class="blog-post-link" href="{{ post.permalink|safe }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}{% if post.draft %}&nbsp;<sup class="blog-post-draft-marker">draft</sup>{% endif %}</a></h2>
                </header>
                <footer class="blog-post-footer">
                    <span class="blog-post-published">{% if post.extra.published %}{{ post.extra.published|date(format="%A, %d %B %Y") }}{% else %}{{ post.extra.modified|date(format="%A, %d %B %Y") }}{% endif %}</span>
                </footer>
            </article>
            {% endfor %}

            {% if paginator.previous or paginator.next %}
            <div class="content-prev-next">
                <div class="content-prev">
                {% if paginator.previous %}
                    <a class="content-prev-link" href="{{ paginator.previous|safe }}">
                        {% include "svg/chevrons-left.svg.html" %}
                        <span class="ib">previous</span>
                    </a>
                {%- endif %}
                </div>
                <div class="content-next">
                {% if paginator.next %}
                    <a class="content-next-link" href="{{ paginator.next|safe }}">
                        <span class="ib">next</span>
                        {% include "svg/chevrons-right.svg.html" %}
                    </a>
                {%- endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="sidebar-wrapper">
        {% include "sidebar.html" %}
    </div>
</div>
{% endblock %}
