{% extends "base.html" %}

{% block title %}{{ site.title }}{% if paginator is defined and paginator.page_num > 1 %} | Page {{ paginator.page_num }}{% endif %}{% endblock %}

{% block content %}
<div class="body">
    <div class="content-wrapper">
        <div class="content">
            <h1 class="mainpage-title">Blog</h1>
            {% for page in paginator.object_list %}
            <article class="blog-post">
                <header class="blog-post-header">
                    <h2 class="blog-post-title"><a class="blog-post-link" href="{{ page.uri }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}{% if page.is_draft %}&nbsp;<sup class="blog-post-draft-marker">draft</sup>{% endif %}</a></h2>
                </header>
                <footer class="blog-post-footer">
                    <span class="blog-post-published">{% if page.published %}{{ page.published.strftime("%A, %d %B %Y") }}{% else %}{{ page.modified_at.strftime("%A, %d %B %Y") }}{% endif %}</span>
                </footer>
            </article>
            {% endfor %}

            {% if paginator.prev_page or paginator.next_page %}
            <div class="content-prev-next">
                <div class="content-prev">
                {% if paginator.prev_page %}
                    <a class="content-prev-link" href="{{ paginator.prev_page.uri }}">
                        {% include "svg/chevrons-left.svg.html" %}
                        <span class="ib">previous</span>
                    </a>
                {%- endif %}
                </div>
                <div class="content-next">
                {% if paginator.next_page %}
                    <a class="content-next-link" href="{{ paginator.next_page.uri }}">
                        <span class="ib">next</span>
                        {% include "svg/chevrons-right.svg.html" %}
                    </a>
                {%- endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="sidebar-wrapper">
        {% include "sidebar.html" %}
    </div>
</div>
{% endblock %}
