{% extends "base.html" %}

{% block lang %}{{ lang|default("en") }}{% endblock %}
{% block title %}{% if page.draft %}(draft) {% endif %}{{ page.title }}{% endblock %}

{% block content %}
<div class="body{% if page.draft %} draft{% endif %}">
    <div class="content-wrapper">
        <div class="content {% if page.extra.css_class %}{{ page.extra.css_class }}{% endif %}">
            {{ markdown(page.content)|safe }}
            {% if page.modified_at -%}
            <div class="content-last-modified"><small><em>Last modified: {{ page.modified_at.strftime("%Y-%m-%d %H:%M:%S UTC") }}</em></small></div>
            {%- endif %}
            {% if prev_page is defined or next_page is defined %}
            <div class="content-prev-next">
                <div class="content-prev">
                    {% if prev_page is defined and prev_page -%}
                    <a class="content-prev-link" href="{{ prev_page.uri }}">
                        {% include "svg/chevrons-left.svg.html" %}
                        <span class="ib">{{ prev_page.title }}</span>
                    </a>
                    {%- endif %}
                </div>
                <div class="content-next">
                    {% if next_page is defined and next_page -%}
                    <a class="content-next-link" href="{{ next_page.uri }}">
                        <span class="ib">{{ next_page.title }}</span>
                        {% include "svg/chevrons-right.svg.html" %}
                    </a>
                    {%- endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="sidebar-wrapper">
        {% include "sidebar.html" %}
    </div>
</div>
{% endblock %}

{% block extra_head %}
{{ super() }}
<!-- see https://www.npmjs.com/package/@highlightjs/cdn-assets?activeTab=code for themes -->
{% if page.extra.highlight -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/humanoid-light.min.css">
{%- endif %}
{% endblock %}

{% block body_js %}
{{ super() }}
{% if page.extra.highlight -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{%- endif %}
{% endblock %}
